altair
great-tables
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
jupyterlab_widgets==3.0.13
Lifetimes
marimo
matplotlib
matplotlib-inline
narwhals
numpy
pandas
plotly
polars
pymc
pymc-marketing
pymdown-extensions
pytensor
scikit-learn
scikit-optimize
scipy
statsmodels
vegafusion
