quarto
stan
bridgestan
xarray
arviz
altair
great-tables
ipykernel
ipython
ipywidgets
jupyterlab
Lifetimes
quarto
marimo
matplotlib
narwhals
numpy
pandas
plotly
polars
scikit-learn
scikit-optimize
scipy
statsmodels
vegafusion
jinja2
