stan
bridgestan
xarray
altair
great-tables
ipykernel
ipython
ipywidgets
jupyterlab
Lifetimes
quarto
marimo
matplotlib
matplotlib-inline
narwhals
numpy
pandas
plotly
polars
pymc
pymc-marketing
pymdown-extensions
pytensor
scikit-learn
scikit-optimize
scipy
statsmodels
vegafusion
jinja2
